Data Understanding

In [21]:
import pandas as pd 
import numpy as np 
import datetime as dt

pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)
pd.set_option("display.width",1000)
pd.set_option("display.float_format",lambda x: "%.2f" %x)

In [22]:
df_ = pd.read_csv(r"C:\Users\mseny\OneDrive\Masaüstü\MİUUL-projects\CRM\case study 1\flo_data_20k.csv")
df = df_.copy()
df.head(10).T

                                                                      0                                     1                                     2                                     3                                     4                                     5                                     6                                     7                                     8                                     9
master_id                          cc294636-19f0-11eb-8d74-000d3a38a36f  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f  69b69676-1a40-11ea-941b-000d3a38a36f  1854e56c-491f-11eb-806e-000d3a38a36f  d6ea1074-f1f5-11e9-9346-000d3a38a36f  e585280e-aae1-11e9-a2fc-000d3a38a36f  c445e4ee-6242-11ea-9d1a-000d3a38a36f  3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f  cfbda69e-5b4f-11ea-aca7-000d3a38a36f  1143f032-440d-11ea-8b43-000d3a38a36f
order_channel                                               Android App                           Android App                           Android App                           Android App                               Desktop                               Desktop                           Android App                                Mobile                           Android App                                Mobile
last_order_channel                                              Offline                                Mobile                           Android App                           Android App                               Desktop                               Offline                           Android App                               Offline                           Android App                                Mobile
first_order_date                                             2020-10-30                            2017-02-08                            2019-11-27                            2021-01-06                            2019-08-03                            2018-11-18                            2020-03-04                            2020-05-15                            2020-01-23                            2019-07-30
last_order_date                                              2021-02-26                            2021-02-16                            2020-11-27                            2021-01-17                            2021-03-07                            2021-03-13                            2020-10-18                            2020-08-12                            2021-03-07                            2020-10-04
last_order_date_online                                       2021-02-21                            2021-02-16                            2020-11-27                            2021-01-17                            2021-03-07                            2018-11-18                            2020-10-18                            2020-05-15                            2021-03-07                            2020-10-04
last_order_date_offline                                      2021-02-26                            2020-01-10                            2019-12-01                            2021-01-06                            2019-08-03                            2021-03-13                            2020-03-04                            2020-08-12                            2020-01-25                            2019-07-30
order_num_total_ever_online                                        4.00                                 19.00                                  3.00                                  1.00                                  1.00                                  1.00                                  3.00                                  1.00                                  3.00                                  1.00
order_num_total_ever_offline                                       1.00                                  2.00                                  2.00                                  1.00                                  1.00                                  2.00                                  1.00                                  1.00                                  2.00                                  1.00
customer_value_total_ever_offline                                139.99                                159.97                                189.97                                 39.99                                 49.99                                150.87                                 59.99                                 49.99                                120.48                                 69.98
customer_value_total_ever_online                                 799.38                               1853.58                                395.35                                 81.98                                159.99                                 49.99                                315.94                                113.64                                934.21                                 95.98
interested_in_categories_12                                     [KADIN]      [ERKEK, COCUK, KADIN, AKTIFSPOR]                        [ERKEK, KADIN]                   [AKTIFCOCUK, COCUK]                           [AKTIFSPOR]                               [KADIN]                           [AKTIFSPOR]                               [COCUK]                 [ERKEK, COCUK, KADIN]                    [KADIN, AKTIFSPOR]

In [23]:
df.shape

(19945, 12)

In [24]:
df.describe()

       order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online
count                     19945.00                      19945.00                           19945.00                          19945.00
mean                          3.11                          1.91                             253.92                            497.32
std                           4.23                          2.06                             301.53                            832.60
min                           1.00                          1.00                              10.00                             12.99
25%                           1.00                          1.00                              99.99                            149.98
50%                           2.00                          1.00                             179.98                            286.46
75%                           4.00                          2.00                             319.97                            578.44
max                         200.00                        109.00                           18119.14                          45220.13

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

In [26]:
df["order_channel"].value_counts()

order_channel
Android App    9495
Mobile         4882
Ios App        2833
Desktop        2735
Name: count, dtype: int64

In [27]:
df["order_num_total"] = df["order_num_total_ever_offline"] + df["order_num_total_ever_online"]
df["customer_value_total"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]
df.head().T

                                                                      0                                     1                                     2                                     3                                     4
master_id                          cc294636-19f0-11eb-8d74-000d3a38a36f  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f  69b69676-1a40-11ea-941b-000d3a38a36f  1854e56c-491f-11eb-806e-000d3a38a36f  d6ea1074-f1f5-11e9-9346-000d3a38a36f
order_channel                                               Android App                           Android App                           Android App                           Android App                               Desktop
last_order_channel                                              Offline                                Mobile                           Android App                           Android App                               Desktop
first_order_date                                             2020-10-30                            2017-02-08                            2019-11-27                            2021-01-06                            2019-08-03
last_order_date                                              2021-02-26                            2021-02-16                            2020-11-27                            2021-01-17                            2021-03-07
last_order_date_online                                       2021-02-21                            2021-02-16                            2020-11-27                            2021-01-17                            2021-03-07
last_order_date_offline                                      2021-02-26                            2020-01-10                            2019-12-01                            2021-01-06                            2019-08-03
order_num_total_ever_online                                        4.00                                 19.00                                  3.00                                  1.00                                  1.00
order_num_total_ever_offline                                       1.00                                  2.00                                  2.00                                  1.00                                  1.00
customer_value_total_ever_offline                                139.99                                159.97                                189.97                                 39.99                                 49.99
customer_value_total_ever_online                                 799.38                               1853.58                                395.35                                 81.98                                159.99
interested_in_categories_12                                     [KADIN]      [ERKEK, COCUK, KADIN, AKTIFSPOR]                        [ERKEK, KADIN]                   [AKTIFCOCUK, COCUK]                           [AKTIFSPOR]
order_num_total                                                    5.00                                 21.00                                  5.00                                  2.00                                  2.00
customer_value_total                                             939.37                               2013.55                                585.32                                121.97                                209.98

In [28]:
date_columns = df.columns[df.columns.str.contains("date")]
df[date_columns] = df[date_columns].apply(pd.to_datetime)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  datetime64[ns]
 4   last_order_date                    19945 non-null  datetime64[ns]
 5   last_order_date_online             19945 non-null  datetime64[ns]
 6   last_order_date_offline            19945 non-null  datetime64[ns]
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  order_num_total                    19945 non-null  float64
 13  customer_value_total               19945 non-null  float64
dtypes: datetime64[ns](4), float64(6), object(4)
memory usage: 2.1+ MB

In [29]:
df.groupby("order_channel").agg({"master_id":"count",
                                 "order_num_total":"sum",
                                 "customer_value_total":"sum"})

               master_id  order_num_total  customer_value_total
order_channel
Android App         9495         52269.00            7819062.76
Desktop             2735         10920.00            1610321.46
Ios App             2833         15351.00            2525999.93
Mobile              4882         21679.00            3028183.16

In [30]:
df.sort_values("customer_value_total",ascending=False)[:10]

                                  master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online                   interested_in_categories_12  order_num_total  customer_value_total
11150  5d1c466a-9cfd-11e9-9897-000d3a38a36f   Android App            Desktop       2013-10-11      2021-04-30             2021-04-30              2020-12-24                       200.00                          2.00                             684.97                          45220.13  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]           202.00              45905.10
4315   d5ef8058-a5c6-11e9-a2fc-000d3a38a36f   Android App        Android App       2018-08-06      2021-02-23             2021-02-23              2020-07-06                        67.00                          1.00                             130.49                          36687.80         [AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]            68.00              36818.29
7613   73fd19aa-9e37-11e9-9897-000d3a38a36f       Ios App            Offline       2014-01-14      2021-05-18             2021-01-30              2021-05-18                        81.00                          1.00                            1263.76                          32654.34              [ERKEK, COCUK, KADIN, AKTIFSPOR]            82.00              33918.10
13880  7137a5c0-7aad-11ea-8f20-000d3a38a36f       Ios App            Offline       2021-03-01      2021-04-13             2021-03-18              2021-04-13                        10.00                          1.00                             538.94                          30688.47                     [ERKEK, KADIN, AKTIFSPOR]            11.00              31227.41
9055   47a642fe-975b-11eb-8c2a-000d3a38a36f   Android App            Offline       2021-04-07      2021-04-27             2021-04-07              2021-04-27                         1.00                          3.00                           18119.14                           2587.20                                   [AKTIFSPOR]             4.00              20706.34
7330   a4d534a2-5b1b-11eb-8dbd-000d3a38a36f       Desktop            Desktop       2020-02-16      2021-04-30             2021-04-30              2020-12-18                        66.00                          4.00                             843.68                          17599.89                     [ERKEK, KADIN, AKTIFSPOR]            70.00              18443.57
8068   d696c654-2633-11ea-8e1c-000d3a38a36f       Ios App            Ios App       2017-05-10      2021-04-13             2021-04-13              2019-08-15                        69.00                          1.00                              82.48                          16836.09  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]            70.00              16918.57
163    fef57ffa-aae6-11e9-a2fc-000d3a38a36f        Mobile            Desktop       2016-11-08      2021-05-12             2021-05-12              2020-07-09                        36.00                          1.00                             180.73                          12545.37                            [ERKEK, AKTIFSPOR]            37.00              12726.10
7223   cba59206-9dd1-11e9-9897-000d3a38a36f   Android App        Android App       2013-02-21      2021-05-09             2021-05-09              2020-01-25                       130.00                          1.00                              49.99                          12232.25         [AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]           131.00              12282.24
18767  fc0ce7a4-9d87-11e9-9897-000d3a38a36f       Desktop            Desktop       2018-11-24      2020-11-11             2020-11-11              2019-12-06                        18.00                          2.00                              64.97                          12038.18                                [ERKEK, KADIN]            20.00              12103.15

In [31]:
df.sort_values("order_num_total" , ascending=False)[:10]

                                  master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online                   interested_in_categories_12  order_num_total  customer_value_total
11150  5d1c466a-9cfd-11e9-9897-000d3a38a36f   Android App            Desktop       2013-10-11      2021-04-30             2021-04-30              2020-12-24                       200.00                          2.00                             684.97                          45220.13  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]           202.00              45905.10
7223   cba59206-9dd1-11e9-9897-000d3a38a36f   Android App        Android App       2013-02-21      2021-05-09             2021-05-09              2020-01-25                       130.00                          1.00                              49.99                          12232.25         [AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]           131.00              12282.24
8783   a57f4302-b1a8-11e9-89fa-000d3a38a36f   Android App            Offline       2019-08-07      2020-11-04             2020-09-07              2020-11-04                         2.00                        109.00                           10239.46                            143.98  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]           111.00              10383.44
2619   fdbe8304-a7ab-11e9-a2fc-000d3a38a36f   Android App            Offline       2018-10-18      2020-06-30             2018-10-18              2020-06-30                         1.00                         87.00                            8432.25                            139.98                                       [ERKEK]            88.00               8572.23
6322   329968c6-a0e2-11e9-a2fc-000d3a38a36f       Ios App            Ios App       2019-02-14      2021-04-05             2021-04-05              2020-02-17                         2.00                         81.00                            3997.55                            242.81                                       [ERKEK]            83.00               4240.36
7613   73fd19aa-9e37-11e9-9897-000d3a38a36f       Ios App            Offline       2014-01-14      2021-05-18             2021-01-30              2021-05-18                        81.00                          1.00                            1263.76                          32654.34              [ERKEK, COCUK, KADIN, AKTIFSPOR]            82.00              33918.10
9347   44d032ee-a0d4-11e9-a2fc-000d3a38a36f        Mobile             Mobile       2019-02-11      2021-02-11             2021-02-11              2020-12-24                         3.00                         74.00                            4640.77                            543.28                            [KADIN, AKTIFSPOR]            77.00               5184.05
10954  b27e241a-a901-11e9-a2fc-000d3a38a36f        Mobile             Mobile       2015-09-12      2021-04-01             2021-04-01              2019-10-08                        72.00                          3.00                             292.93                           5004.95         [AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]            75.00               5297.88
7330   a4d534a2-5b1b-11eb-8dbd-000d3a38a36f       Desktop            Desktop       2020-02-16      2021-04-30             2021-04-30              2020-12-18                        66.00                          4.00                             843.68                          17599.89                     [ERKEK, KADIN, AKTIFSPOR]            70.00              18443.57
8068   d696c654-2633-11ea-8e1c-000d3a38a36f       Ios App            Ios App       2017-05-10      2021-04-13             2021-04-13              2019-08-15                        69.00                          1.00                              82.48                          16836.09  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]            70.00              16918.57

Calculating RFM Metrics

In [32]:
df["last_order_date"].max()

Timestamp('2021-05-30 00:00:00')

In [33]:
analysis_date = dt.datetime(2021,6,1)

In [34]:
rfm = pd.DataFrame()
rfm["customer_id"] = df["master_id"]
rfm["recency"] = (analysis_date-df["last_order_date"]).dt.days
rfm["frequency"] = df["order_num_total"]
rfm["monetary"] = df["customer_value_total"]
rfm.head()

                            customer_id  recency  frequency  monetary
0  cc294636-19f0-11eb-8d74-000d3a38a36f       95       5.00    939.37
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f      105      21.00   2013.55
2  69b69676-1a40-11ea-941b-000d3a38a36f      186       5.00    585.32
3  1854e56c-491f-11eb-806e-000d3a38a36f      135       2.00    121.97
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       86       2.00    209.98

Calculating RF and RFM Scores

In [35]:
rfm["recency_score"] = pd.qcut(rfm["recency"],5,labels=[5,4,3,2,1])
rfm["frequency_score"] = pd.qcut(rfm["frequency"].rank(method="first"),5,labels=[1,2,3,4,5])
rfm["monetary_score"] = pd.qcut(rfm["monetary"],5,labels=[1,2,3,4,5])
rfm.head(10)

                            customer_id  recency  frequency  monetary recency_score frequency_score monetary_score
0  cc294636-19f0-11eb-8d74-000d3a38a36f       95       5.00    939.37             3               4              4
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f      105      21.00   2013.55             3               5              5
2  69b69676-1a40-11ea-941b-000d3a38a36f      186       5.00    585.32             2               4              3
3  1854e56c-491f-11eb-806e-000d3a38a36f      135       2.00    121.97             3               1              1
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       86       2.00    209.98             3               1              1
5  e585280e-aae1-11e9-a2fc-000d3a38a36f       80       3.00    200.86             4               2              1
6  c445e4ee-6242-11ea-9d1a-000d3a38a36f      226       4.00    375.93             2               3              2
7  3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f      293       2.00    163.63             1               1              1
8  cfbda69e-5b4f-11ea-aca7-000d3a38a36f       86       5.00   1054.69             3               4              5
9  1143f032-440d-11ea-8b43-000d3a38a36f      240       2.00    165.96             1               1              1

In [36]:
rfm["RF_SCORE"] = rfm["recency_score"].astype(str) + rfm["frequency_score"].astype(str)
rfm.head()

                            customer_id  recency  frequency  monetary recency_score frequency_score monetary_score RF_SCORE
0  cc294636-19f0-11eb-8d74-000d3a38a36f       95       5.00    939.37             3               4              4       34
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f      105      21.00   2013.55             3               5              5       35
2  69b69676-1a40-11ea-941b-000d3a38a36f      186       5.00    585.32             2               4              3       24
3  1854e56c-491f-11eb-806e-000d3a38a36f      135       2.00    121.97             3               1              1       31
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       86       2.00    209.98             3               1              1       31

In [37]:
rfm["RFM_SCORE"] = rfm["recency_score"].astype(str) + rfm["frequency_score"].astype(str) + rfm["monetary_score"].astype(str)
rfm.head()

                            customer_id  recency  frequency  monetary recency_score frequency_score monetary_score RF_SCORE RFM_SCORE
0  cc294636-19f0-11eb-8d74-000d3a38a36f       95       5.00    939.37             3               4              4       34       344
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f      105      21.00   2013.55             3               5              5       35       355
2  69b69676-1a40-11ea-941b-000d3a38a36f      186       5.00    585.32             2               4              3       24       243
3  1854e56c-491f-11eb-806e-000d3a38a36f      135       2.00    121.97             3               1              1       31       311
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       86       2.00    209.98             3               1              1       31       311

Defining RF Scores as Segments

In [38]:
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)

rfm.head()

                            customer_id  recency  frequency  monetary recency_score frequency_score monetary_score RF_SCORE RFM_SCORE          segment
0  cc294636-19f0-11eb-8d74-000d3a38a36f       95       5.00    939.37             3               4              4       34       344  loyal_customers
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f      105      21.00   2013.55             3               5              5       35       355  loyal_customers
2  69b69676-1a40-11ea-941b-000d3a38a36f      186       5.00    585.32             2               4              3       24       243          at_Risk
3  1854e56c-491f-11eb-806e-000d3a38a36f      135       2.00    121.97             3               1              1       31       311   about_to_sleep
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       86       2.00    209.98             3               1              1       31       311   about_to_sleep

Action Time

In [39]:
rfm.groupby("segment").agg({"recency":"mean",
                            "frequency":"mean",
                            "monetary":"mean"})

                     recency  frequency  monetary
segment
about_to_sleep        113.79       2.40    359.01
at_Risk               241.61       4.47    646.61
cant_loose            235.44      10.70   1474.47
champions              17.11       8.93   1406.63
hibernating           247.95       2.39    366.27
loyal_customers        82.59       8.37   1216.82
need_attention        113.83       3.73    562.14
new_customers          17.92       2.00    339.96
potential_loyalists    37.16       3.30    533.18
promising              58.92       2.00    335.67

FLO is adding a new women's shoe brand to its portfolio. The product prices of the brand it has added are above general customer preferences. For this reason, it is desired to contact customers with a profile that will be interested in the promotion of the brand and product sales. It is planned that these customers will be loyal and shoppers from the women's category. The customers' id numbers will be saved in the csv file as new_brand_target_customer_id.cvs

In [ ]:
target_segments_customer_ids = rfm[rfm["segment"].isin(["champions","loyal_customers"])]["customer_id"]
cust_ids = df[(df["master_id"].isin(target_segments_customer_ids)) &
              (df["interested_in_categories_12"].str.contains("KADIN"))]["master_id"]
cust_ids.to_csv("new_brand_target_customer_id.cvs", index=False)
cust_ids.shape

rfm.head()

                            customer_id  recency  frequency  monetary recency_score frequency_score monetary_score RF_SCORE RFM_SCORE          segment
0  cc294636-19f0-11eb-8d74-000d3a38a36f       95       5.00    939.37             3               4              4       34       344  loyal_customers
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f      105      21.00   2013.55             3               5              5       35       355  loyal_customers
2  69b69676-1a40-11ea-941b-000d3a38a36f      186       5.00    585.32             2               4              3       24       243          at_Risk
3  1854e56c-491f-11eb-806e-000d3a38a36f      135       2.00    121.97             3               1              1       31       311   about_to_sleep
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       86       2.00    209.98             3               1              1       31       311   about_to_sleep

A discount of nearly 40% is planned for men's and children's products. This discount is intended to specifically target customers who are good customers in the past but have not shopped for a long time and new customers who are interested in the relevant categories. The IDs of customers with the appropriate profile will be saved in the csv file as discount_target_customer_id.csv

In [ ]:
target_segments_customer_ids = rfm[rfm["segment"].isin(["cant_loose","hibernating","new_customers"])]["customer_id"]
cust_ids = df[(df["master_id"].isin(target_segments_customer_ids)) &
               ((df["interested_in_categories_12"].str.contains("ERKEK"))|
                (df["interested_in_categories_12"].str.contains("COCUK")))]["master_id"]
cust_ids.to_csv("discount_target_customer_id.csv", index=False)